<nz-content>
    <div class="inner-content">
        <!-- <p>move-patient works! ส่ง admit_id มาให้แล้ว {{queryParamsData.admit_id}}</p> -->
        <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100">
            <div class="flex flex-row w-full">
                <div class="flex">
                    <div class="flex-shrink-0 p-2">
                        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                            </svg>
                        </div>
                    </div>
                    <div class="flex w-full">
                        <div class="ml-4 mt-2">
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                ข้อมูลทั่วไป
                            </dt>
                            <dd class="mt-0 text-base text-gray-500">
                                Patient Infomations
                            </dd>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="border rounded-md ml-2 mr-2 border-violet-500 mb-2 grid p-3" *ngFor="let w of dataSetAdmit">
                    <!-- <nz-divider nzPlain  nzText="General Infomations" nzOrientation="center"></nz-divider> -->
                    <div>
                        <div class="flex flex-wrap gap-x-3">
                            <div class="font-bold "> HN :</div><div> {{w.hn}}</div>
                            <div class="font-bold "> AN :</div><div> {{w.an}}</div>
                            <div class="font-bold "> ชื่อ-สกุล :</div><div> {{w.title}}{{w.fname}} {{w.lname}}</div>
                            <div class="font-bold "> เพศ :</div><div> {{w.gender}}</div>
                            <div class="font-bold "> อายุ :</div><div> {{w.age}}</div>
                            <div class="font-bold "> อาชีพ :</div><div> {{w.occupation}}</div>
                        </div>
                        <div class="flex flex-wrap gap-x-4 ">
                            <div class="font-bold "> ที่อยู่ :</div><div> {{w.address}}</div>
                            <div class="font-bold "> เบอร์โทร :</div><div> {{w.phone}}</div>
                        </div>
                        <div class="flex flex-wrap gap-x-4">
                            <div class="font-bold "> สิทธิการรักษา :</div><div> {{w.inscl_name}}</div>
                        </div>
                    </div>
                    <nz-divider nzOrientation="center"></nz-divider>
                    <div>
                        <div class="flex flex-wrap gap-x-3">
                            <div class="font-bold"> CC :</div><div> {{w.chief_complaint}}</div>
                            <div class="font-bold"> PE :</div><div> {{w.physical_exam}}</div>
                            <div class="font-bold"> Diag text :</div><div> {{w.pre_diag}}</div>
                        </div>
                        <div class="flex flex-wrap gap-x-3">
                            <div class="font-bold "> Temp. :</div><div> {{w.body_temperature}}</div>
                            <div class="font-bold"> Weight :</div><div> {{w.body_weight}}  kg. </div>
                            <div class="font-bold "> Height :</div><div> {{w.body_height}} cm. </div>
                            <div class="font-bold "> Waist:</div><div> {{w.waist}} cm. </div>
                            <div class="font-bold "> BP. :</div><div> {{w.systolic_blood_pressure}} / {{w.diatolic_blood_pressure}}</div>
                            <div class="font-bold "> Pulse  :</div><div> {{w.pulse_rate}}</div>
                            <div class="font-bold "> RR. :</div><div> {{w.respiratory_rate}}</div>
                            <div class="font-bold "> OSat :</div><div> {{w.oxygen_sat}}</div>
                        </div>
                        <div class="flex flex-wrap gap-x-3">
                            <div class="font-bold "> Present Ill. :</div><div> {{w.present_illness}}</div>
                            <div class="font-bold "> Past His. :</div><div> {{w.past_history}}</div>
                            <div class="font-bold "> PE. :</div><div> {{w.physical_exam}}</div>
                        </div>
                        <div class="flex flex-wrap gap-x-3">
                            <div class="font-bold "> Eye Score :</div><div> {{w.eye_score}}</div>
                            <div class="font-bold "> Movement Score :</div><div> {{w.movement_score}}</div>                 
                            <div class="font-bold "> Verbal Score :</div><div> {{w.verbal_score}}</div>                            
                            <div class="font-bold "> Movement Score :</div><div> {{w.movement_score}}</div>
                        </div>
                    </div>
                    <nz-divider nzOrientation="center"></nz-divider>
                    <div>
                        <div class="flex flex-wrap gap-x-3">
                            <div class="font-bold "> แพทย์เจ้าของไข้ :</div><div> {{doctor_name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100 mt-2">
            <div class="flex flex-row w-full">
                <div class="flex">
                    <div class="flex-shrink-0 p-2">
                        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                            <!-- <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                    </svg> -->
                            <i class="fa-solid fa-house-user"></i>
                        </div>
                    </div>
                    <div class="flex w-full">
                        <div class="ml-4 mt-2">
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                เลือกตึกผู้ป่วย
                            </dt>
                            <dd class="mt-0 text-base text-gray-500">
                                Patient Building List
                            </dd>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <nz-collapse>
                    <nz-collapse-panel *ngFor="let panel of panelsWard" [nzHeader]="simpleLink"
                        [nzActive]="panel.active" [nzDisabled]="panel.disabled" class="grid justify-start items-center w-fit">

                        <div class="flex flex-wrap  rounded-md  border-violet-500">
                            <div *ngFor="let ward of wards" class="m-1 pl-5 pr-5">
                                <button nz-button class=" bg-teal-300 text-black border-green-300 content-center items-center"
                                    nzType="primary" (click)="setWard(ward);" [nzSize]="'default'" nzShape="round">
                                    <i class="fa-solid fa-building-user text-blue-500 hover:text-white"></i>&nbsp;
                                    {{ward.name}}
                                </button>
                            </div>
                        </div>
                    </nz-collapse-panel>
                </nz-collapse>

                <ng-template #simpleLink class="grid justify-start w-full">
                    <div class="flex flex-row justify-start items-center gap-x-6">

                        <div class=" bg-emerald-100 text-black border-green-300 content-center items-center p-1">
                            ตึกที่เลือก :

                        </div>
                        <div>
                            <ng-container *ngIf="wardTags && wardTags.length > 0; else emptyListWard">

                                <nz-tag
                                    *ngFor="let tag of wardTags; let i = index"
                                    [nzColor]="'rgb(251 146 60)'"
                                    [nzMode]="'closeable'"
                                    (nzOnClose)="handleClose(tag)"
                                    class="p-1 text-lg">
                                    <span>
                                        <i class="fa-solid fa-building-user text-white"></i>&nbsp;
                                    </span>
                                    {{ sliceTagName(tag) }}
                                </nz-tag>
                            </ng-container>
                            <ng-template #emptyListWard>ยังไม่ได้เลือกตึก</ng-template>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>

        <div class="flex flex-col card w-full bg-fuchsia-50 rounded-md shadow h-100 mt-2">
            <div class="flex flex-row w-full">
                <div class="flex">
                    <div class="flex-shrink-0 p-2">
                        <div class="flex items-center justify-center h-12 w-12 rounded-full bg-indigo-500 text-white">
                            <!-- <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                    </svg> -->
                            <i class="fa-solid fa-bed-pulse"></i>
                        </div>
                    </div>
                    <div class="flex w-full">
                        <div class="ml-4 mt-2">
                            <dt class="text-lg leading-6 font-medium text-gray-900">
                                เลือกเตียง
                            </dt>
                            <dd class="mt-0 text-base text-gray-500">
                                Active Bed List
                            </dd>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full">
                <nz-collapse>
                    <nz-collapse-panel *ngFor="let panel of panelsBed" [nzHeader]="templateBed"
                        [nzActive]="panel.active" [nzDisabled]="panel.disabled" class="grid justify-start items-center w-fit"
                        [nzDisabled]="panel.disabled">
                        <div class="flex flex-wrap rounded-md " *ngIf="beds && beds.length > 0; else emptyListBed">
                            <div *ngFor="let bed of beds" class="m-1 pl-5 pr-5">
                                <button nz-button class=" bg-emerald-100 text-black border-green-300 content-center items-center"
                                    nzType="primary" (click)="setBed(bed);" [nzSize]="'default'" nzShape="round">
                                    <i class="fa-solid fa-bed-pulse text-green-700 hover:text-white"></i>&nbsp;
                                    {{bed.name}}
                                </button>
                            </div>
                        </div>
                        <ng-template #emptyListBed>
                            <div class="flex w-full">
                                <!-- <button nz-button nzType="primary" nzDanger>
                                    ไม่มีรายการเตียง !!
                                </button> -->
                                <nz-empty nzDefaultEmptyContent="'ไม่มีรายการเตียง'"></nz-empty>
                            </div>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>
                <ng-template #templateBed class="grid justify-start w-full">
                    <div class="flex flex-row justify-start items-center gap-x-6">
                        <div class=" bg-emerald-100 text-black border-green-300 content-center items-center p-1">
                            เตียงที่เลือก :
                        </div>
                        <div>
                            <ng-container *ngIf="bedTags && bedTags.length > 0; else emptyList">
                                <nz-tag *ngFor="let tag of bedTags ; let i = index"
                                    [nzColor]="'rgb(251 146 60)'"
                                    [nzMode]="'closeable'"
                                    (nzOnClose)="handleCloseBed(tag)"
                                    class="p-1 text-lg">
                                    <span>
                                        <i class="fa-solid fa-bed-pulse text-white"></i>&nbsp;
                                    </span>
                                    {{ sliceTagNamebed(tag) }}
                                </nz-tag>
                            </ng-container>
                            <ng-template #emptyList>ยังไม่ได้เลือกเตียง</ng-template>
                        </div>
                    </div>
                </ng-template>

            </div>
        </div>
        <div class="flex w-full justify-center row m-1 pl-5 pr-5 mt-4 gap-x-10">
            <!-- <button class="mr-2" nz-button nzType="primary" [nzSize]="'large'" (click)="showModal();"><span nz-icon
                nzType="save" nzTheme="outline"></span>บันทึก</button> -->

            <button
                nz-popconfirm
                nzPopconfirmTitle="คุณต้องการบันทึก.."
                (nzOnConfirm)="changeWard()"
                (nzOnCancel)="cancel()"
                nz-button
                [nzSize]="'large'"
                nzShape="round"
                nzType="primary"
                class="w-56">
                <span nz-icon
                    nzType="save" nzTheme="outline"></span>บันทึก
            </button>

            <button nz-button nzType="primary" [nzSize]="'large'"
                (click)="navigatePatientList();" nzShape="round" class="w-40 bg-cyan-200"><span nz-icon nzType="undo"
                    nzTheme="outline" class></span>ยกเลิก</button>
        </div>
    </div>
</nz-content>
